@use '../../styles/scss/mediaBreakpoints.scss' as *;

.footer {
  position: relative;
  z-index: 10;
  padding-bottom: 160px;

  @include desktop {
    padding-bottom: 140px;
  }

  @include tablet-large {
    padding-bottom: 72px;
  }

  @include tablet {
    padding-bottom: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../assets/BackgroundImages/Background_5-01_footer.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (width <= 1800px) {
      background-position: -24px 0;
    }

    @include desktop {
      background-position: -72px 0;
    }

    @include tablet-large {
      background-position: -33px 0;
    }

    @include tablet {
      background-image: url('../../assets/BackgroundImages/Background_8-01_footer_mobile.svg');
      bottom: 0;
      height: 100%;
      background-position: top left;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet-large {
      grid-gap: 24px;
    }

    @include tablet {
      flex: 2;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      grid-gap: 48px;
    }

    @include tablet {
      grid-gap: 72px;
    }
  }

  &__content {
    display: flex;
    flex: 1 1;
    max-width: 571px;
    flex-direction: column;
    gap: 24px;

    @include desktop-macbook {
      max-width: 356px;
    }

    @include tablet-large {
      flex: 1 1;
      gap: 24px;
      flex-direction: column;
    }

    @include tablet {
      gap: 24px;
      flex-direction: row;
      max-width: 100%;
    }

    @include phone {
      flex-direction: column;
      width: 100%;
    }
  }

  &__socialContainer {
    @include phone {
      display: none;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    @include desktop-macbook {
      justify-content: space-between;
    }

    @include phone {
      display: none;
    }
  }

  &__logo {
    width: 214px;

    @include desktop-macbook {
      display: inline-block;
      width: 192px;
      height: 55px;
    }
  }

  &__socialIcons {
    display: flex;
    gap: 15px;

    & > a {
      margin-left: 8px;

      img {
        width: 54px;
        height: 54px;
        transition: all 0.3s linear;

        &:hover {
          background-color: #ceb0fa29;
          border-radius: 4px;
          transform: scale(1.1);
        }
      }
    }

    & > a:first-child {
      margin-left: 0;
    }

    @include desktop-macbook {
      padding-right: 16px;
    }

    @include tablet {
      display: none;
    }
  }

  &__descriptions {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 16px;
    max-width: 530px;

    @include desktop-macbook {
      font-size: 14px;
    }

    @include phone {
      display: none;
    }
  }

  &__developerName {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;

    > a > img {
      display: inline-block;
      vertical-align: middle;
      width: 161px;
      height: 48px;
    }

    @include desktop-macbook {
      font-size: 18px;

      > a > img {
        width: 121px;
        height: 36px;
      }
    }
  }

  &__developerLink {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #b78af7;
    margin-bottom: 20px;
    transition: all 0.2s linear;

    &:hover {
      color: #8133f1;
    }

    &:active {
      color: #5900d9;
    }

    @include phone {
      font-size: 18px;
    }
  }

  &__policies {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__policyLink {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #b78af7;
    transition: all 0.3s linear;

    &:hover {
      color: #8133f1;
    }

    &:active {
      color: #5900d9;
    }

    @include tablet {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__copyright {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;

    @include desktop-macbook {
      font-size: 14px;
    }
  }

  &__copyrightYear {
    color: #fff;
  }

  &__trademarks {
    color: #a9a9aa;
  }
}

/* FORM */

.contactForm {
  border-radius: 16px;
  padding: 36px;
  background-color: rgb(29 29 29 / 60%);
  width: 50%;

  @include tablet {
    padding: 0;
    width: 100%;
    background-color: transparent;
  }

  @include phone {
    border: none;
    background-color: transparent;
  }

  &__titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
    position: relative;

    @include desktop-macbook {
      justify-content: space-between;
    }

    @include tablet {
      &::before {
        content: '';
        background-image: url('../../assets/footerUnderlineMob.svg');
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -12px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
      }
    }
  }

  &__title {
    font-family: 'Zen Dots', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-shadow: 2px 2px 4px 0 rgb(29 29 29 / 25%);
    color: #fff;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__titleFocus {
    color: #b78af7;
  }

  &__socialLink {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &__socialLink img {
    width: 40px;
    height: 40px;
  }

  &__socialIcons {
    height: 100%;
    align-items: center;
    display: none;

    @include tablet {
      display: flex;
      gap: 8px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    color: #fff;
    border-radius: 4px;
    padding: 16px 10px;
    border: 1px solid #444446;
    outline: none;
    font-size: 18px;
    background-color: #1d1d1d;
  }

  &__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #828283;

    @include tablet-large {
      font-size: 16px;
    }
  }

  &__input:focus {
    color: #fff;
  }

  &__textarea {
    color: #fff;
    border-radius: 4px;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #444446;
    outline: none;
    resize: none;
    height: 126px;
    background-color: #1d1d1d;
  }

  &__textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #828283;
  }

  &__textarea:focus {
    color: #fff;
  }

  &__button {
    text-transform: uppercase;
  }
}
