.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  &__bg {
  }

  &__left {
    flex: 1 1 max(1017px);

    h1 {
      font-family: "Zen Dots", sans-serif;
      font-size: 48px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      color: #FFFFFF;

      .highlight {
        color: #B78AF7;
      }

      .emphasis {
        color: #FCA728;
      }
    }
  }

  &__right {
    flex: 1 1 max(719px);
  }
}