@use '../../styles/scss/mediaBreakpoints.scss' as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px;

  @include tablet-large {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 24px;
  }

  @include tablet {
    align-items: center;
    grid-gap: 0;
  }

  @include phone {
    align-items: flex-start;
  }

  &__bg {
    padding-top: 102px;
    padding-bottom: 102px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @include tablet {
      padding-bottom: 60px;
      padding-top: 144px;
    }

    @include phone {
      padding-bottom: 48px;
      padding-top: 132px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background-image: url('../../assets/BackgroundImages/Background_1-01_heropage.svg');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(0deg, #161616 10%, rgb(0 0 0 / 0%) 50%);
    }

    & > div {
      height: 100%;
    }
  }

  &Text {
    @include tablet {
      display: none;
    }
  }

  &TextMobile {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__left {
    flex: 1 1 max(1017px);

    @include desktop {
      flex: 1 1 max(643px);
    }

    @include tablet-large {
      flex: 1 1 auto;
    }

    @include tablet {
      max-width: 614px;
    }

    h1 {
      font-family: 'Zen Dots', sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #fff;
      text-shadow: 2px 2px 4px 0 rgb(29 29 29 / 25%);

      .h1Phone {
        display: none;
      }

      @media screen and (width <= 1700px) {
        font-size: 50px;
      }

      @include desktop {
        font-size: 36px;
      }

      @include tablet {
        .h1Phone {
          display: block;
        }

        .h1Desktop {
          display: none;
        }

        text-align: center;
      }

      @include phone {
        font-size: 24px;
        text-align: left;
      }

      .highlight {
        margin-left: 1rem;
        margin-right: 1rem;
        color: #b78af7;

        @include phone {
          margin: 0;
        }
      }

      .emphasis {
        color: #fca728;
        display: block;

        @include tablet {
          font-size: 24px;
        }

        @include phone {
          font-size: 18px;
        }
      }
    }
  }

  &__right {
    flex: 1 1 max(719px);

    @include desktop {
      flex: 1 1 max(453px);
    }

    @include tablet-large {
      flex: 1 1 auto;
    }

    @include tablet {
      padding-top: 50px;
      padding-bottom: 354px;
      width: 100%;
      background: url('../../assets/hero/mascotMobileNotAvailable.svg') bottom center no-repeat;

      .heroWrapper {
        width: 100vw;
        height: 69px;
        box-shadow: 0 -4px 10px 0 rgb(0 0 0 / 25%);
        background: linear-gradient(180deg, #2a2145 0%, #211b37 51.4%, #161616 100%);
        border: 2px solid #6853ac;
        border-radius: 24px;
        padding: 24px;
        position: relative;

        @include tablet {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        @include phone {
          border-top: 1px solid #6853ac;
          padding: 12px;
        }
      }
    }
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #fff;

    @include desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 14px;
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: normal;
  align-items: center;
  grid-gap: 36px;
  margin-top: 36px;

  @include desktop {
    grid-gap: 24px;
  }

  .registration {
    max-width: 299px;
    width: 100%;

    @include desktop {
      max-width: 230px;
    }

    @include tablet-large {
      width: 50%;
      max-width: 100%;
    }
  }

  @include desktop {
    .registration {
      display: flex;
      align-items: center;
      font-size: 18px !important;
      line-height: 150% !important;
      padding: 12px 0 !important;
    }
  }

  @include tablet {
    .registration {
      display: none;
    }
  }
}
