.swiper-wrapper {
  align-items: center !important;
}

.swiper {
  display: none;

  @media screen and (width <= 991px) {
    display: block;
    overflow: visible;
    padding-bottom: 32px;
  }
}

.swiper-slide-active,
.swiper-slide-active::after {
  max-width: 285px;
}

.swiper-pagination-horizontal {
  bottom: -6px !important;
}

.swiper-pagination-bullet {
  background-color: #444446 !important;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 100px;
  background-color: #b78af7 !important;
}
