.landingForm .MuiFormControl-root .MuiFormLabel-root {
  font-family: 'Open Sans' !important;
 }

.landingForm .MuiFormControl-root .MuiInputBase-root {
  font-family: 'Open Sans' !important;
}

.landingForm .MuiFormControl-root .MuiFormHelperText-root {
  font-family: 'Open Sans' !important;
}

.landingForm .MuiFormControl-root .MuiFormControlLabel-root .MuiTypography-root {
  font-family: 'Open Sans' !important;
}

.landingForm .MuiBox-root .MuiButtonBase-root {
  font-family: 'Open Sans' !important;
}