.landingForm {
  .MuiFormControl-root {
    font-family: 'Open Sans' !important;

    .MuiFormLabel-root,
    .MuiInputBase-root {
      font-family: 'Open Sans' !important;
      font-size: 18px !important;
      line-height: 1.5 !important;
      .MuiInputBase-input {
        font-weight: 600 !important;
      }
    }

    .MuiFormHelperText-root,
    .MuiFormControlLabel-root .MuiTypography-root {
      font-family: 'Open Sans' !important;
    }
  }

  .MuiBox-root .MuiButtonBase-root {
    font-family: 'Open Sans' !important;
  }
}




