@use '../../styles/scss/mediaBreakpoints.scss' as *;

.about {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  background-image: url('../../assets/aboutUsMascot/coloredBells.svg');
  background-repeat: no-repeat;
  background-position: center;

  @include desktop {
    padding-bottom: 180px;
  }

  @include tablet-large {
    padding-bottom: 120px;
    background-image: url('../../assets/aboutUsMascot/coloredTabletL.svg');
  }

  @include tablet {
    background-image: none;
    margin-top: 100px;
    padding-bottom: 100px;
  }

  @include phone {
    margin-top: 80px;
    padding-bottom: 400px;
    background: url('../../assets/aboutUsMascot/mascotMobile.svg') bottom center no-repeat;
  }
}

.heading {
  font-family: Tektur, sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(29 29 29 / 25%);
  margin-bottom: 84px;
  position: relative;
  z-index: 10;

  @include desktop {
    font-size: 30px;
    margin-bottom: 60px;
  }

  @include tablet-large {
    margin-bottom: 56px;
  }

  @include tablet {
    text-align: start;
    font-size: 24px;
    margin-bottom: 24px;
  }

  @include phone {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .highlight {
    margin-left: 0.3rem;
    color: #b78af7;

    @include tablet {
      color: #ee7538;
    }
  }
}

.gridContainer {
  align-self: center;
  justify-content: space-between;
  display: grid;
  grid-template: auto / minmax(300px, 571px) minmax(100px, 200px) minmax(300px, 571px);
  grid-template-areas:
    'topLeft . topRight'
    'botLeft . botRight';
  grid-gap: 80px 2px;
  background-image: url('../../assets/aboutUsMascot/mascotCenter.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 10;

  @include desktop {
    background-size: 278px 332px;
    grid-gap: 74px 12px;
  }

  @include tablet-large {
    display: grid;
    grid-template:
      'topLeft favBigRight' auto
      'botLeft favBigRight' auto
      'favBigLeft topRight' auto
      'favBigLeft botRight' auto;
    grid-template-columns: minmax(320px, 420px) minmax(320px, 420px);
    grid-gap: 12px;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-image: none;
  }

  @include tablet {
    align-self: center;
    justify-content: space-between;
    display: grid;
    grid-template: auto / minmax(328px, 571px) minmax(20px, 100px) minmax(328px, 571px);
    grid-template-areas:
      'topLeft . topRight'
      'botLeft . botRight';
    grid-gap: 80px 2px;
    position: relative;
    z-index: 10;
    background-image: url('../../assets/aboutUsMascot/mascotCenter.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  @include phone {
    background-image: none;
    justify-content: center;
    background-position: bottom center;
    grid-template: repeat(4, auto) / 100%;
    grid-template-areas:
      'topLeft '
      'botLeft '
      'topRight'
      'botRight'
      'favBigRight'
      'favBigLeft';
    grid-gap: 36px;
  }

  .favBigRight {
    display: none;

    @include tablet-large {
      display: block;
      grid-area: favBigRight;
      background-image: url('../../assets/BackgroundImages/fav2big.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 300px 330px;
    }

    @include tablet {
      display: none;
    }
  }

  .favBigLeft {
    display: none;

    @include tablet-large {
      display: block;
      grid-area: favBigLeft;
      font-size: 40px;
      background-image: url('../../assets/BackgroundImages/fav4big.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 230px 276px;
    }

    @include tablet {
      display: none;
    }
  }
}

.card {
  position: relative;
  z-index: 1;
  padding: 24px 36px;
  max-width: 571px;
  height: 245px;
  background-color: #1d1d1dcc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;

  &:nth-child(odd) {
    border: 1px solid #360083;
  }

  &:nth-child(even) {
    border: 1px solid #84340b;
  }

  @include desktop {
    justify-self: center;
    max-width: 452px;
    height: 194px;
  }

  @include tablet {
    justify-self: center;
    max-width: 452px;
    height: 194px;
  }

  @include phone {
    max-width: 328px;
    padding: 18px 16px;
    width: 100%;
    height: 100%;
  }

  &.botLeft {
    grid-area: botLeft;
  }

  &.topRight {
    grid-area: topRight;
  }

  &.botRight {
    grid-area: botRight;
  }

  & h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
    color: #fff;
    margin-bottom: 33px;
    position: relative;
    z-index: 3;

    @include desktop {
      width: fit-content;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.5;
    }

    @include tablet-large {
      width: fit-content;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.5;
      margin-bottom: 16px;
      padding-bottom: 4px;
    }

    @include phone {
      width: fit-content;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.35;
      margin-bottom: 16px;
      padding-bottom: 4px;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 9px;
      position: absolute;
      left: 0;
      bottom: -8px;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: contain;

      @include phone {
        width: 100%;
      }
    }

    &.topLeft::before {
      background-image: url('../../assets/AboutSectionLines/topLeft.svg');

      @include phone {
        background-image: url('../../assets/AboutSectionLines/topLeftMobile.png');
      }
    }

    &.botLeft::before {
      background-image: url('../../assets/AboutSectionLines/botLeft.svg');

      @include phone {
        background-image: url('../../assets/AboutSectionLines/botLeftMobile.svg');
      }
    }

    &.topRight::before {
      background-image: url('../../assets/AboutSectionLines/topRight.svg');
    }

    &.botRight::before {
      background-image: url('../../assets/AboutSectionLines/botRight.svg');
    }
  }

  & p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    position: relative;
    z-index: 3;

    @include desktop {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
    }

    @include tablet-large {
      align-self: flex-end;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
    }

    @include tablet {
      font-size: 16px;
    }

    @include phone {
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

  @include phone {
    padding: 18px 16px;
    width: 100%;
    height: 100%;
  }
}

.dnMobile {
  @include phone {
    display: none;
  }
}
