@use '../../../styles/scss/mediaBreakpoints.scss' as *;

.itemFaq {
  width: 100%;

  @include phone {
    background-color: #ceb0fa29;
    border-radius: 4px;
  }

  &__header {
    padding: 36px 0;
    border-bottom: 1px solid #69696b;
    position: relative;
    height: 100%;

    @include desktop-macbook {
      padding: 36px 0;
    }

    @include tablet-large {
      padding: 24px 0;
    }

    @include phone {
      border: none;
      padding: 8px 12px;
    }
  }

  &__iconBottom {
    width: 36px;
    height: 36px;

    @include desktop-macbook {
      width: 30px;
      height: 30px;
    }

    @include phone {
      width: 24px;
      height: 24px;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;

    @include desktop-macbook {
      font-size: 18px;
    }

    @include phone {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  &__hashNumberContainer {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  &__hashtagicon {
    width: 28px;
    height: 36px;
    margin-right: 4px;

    @include desktop-macbook {
      width: 14px;
      height: 18px;
      margin-right: 4px;
    }

    @include phone {
      width: 11px;
      height: 14px;
      margin-right: 2px;
    }
  }

  &__number {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #ee7538;
    margin-right: 8px;
    position: relative;

    @include desktop-macbook {
      font-size: 20px;
    }

    @include phone {
      font-size: 16px;
    }
  }

  &__answer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0;
    line-height: 150%;
    color: #c5c5c6;
    padding-top: 16px;
    margin: 0 54px;
    transition: all 70ms linear;

    &Active {
      font-size: 24px;
    }

    @include desktop-macbook {
      font-size: 0;
      margin: 0 38px;

      &Active {
        font-size: 16px;
      }
    }

    @include phone {
      font-size: 0;
      line-height: 1.35;
      color: #fff;

      &Active {
        font-size: 14px;
      }
    }
  }
}
