.item_faq {
    width: 100%;

  &__header {
    padding: 36px;
    border-bottom: 1px solid #69696B;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 34px;
      left: 0;
      bottom: 0;
      width: 28px;
      height: 36px;
      background-image: url("../../../assets/fqa-svg.svg");
    }
  }

  &__iconBottom {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
  }

  &__question {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 16px;

    @media screen and (max-width: 1740px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1500px) {
      font-size: 18px;
    }

    @media screen and (max-width: 1420px) {
      font-size: 16px;
    }
  }

  &__number {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #EE7538;
    margin-right: 8px;
  }

  &__answer {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #C5C5C6;
    max-width: 736px;
  }
}