@import '../../styles/scss/mediaBreakpoints.scss';

.boxOverflow {
  overflow: visible;
}

.bg {
  padding-bottom: 12px;
  background-color: #161616;
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1040px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/BackgroundImages/Background_2-01_howitworks.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

    @include tablet {
      display: none;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 940px;
    left: 0;
    background-image: linear-gradient(180deg, #161616 10%, rgb(0 0 0 / 0%) 50%);
    z-index: 2;

    @include tablet {
      display: none;
    }
  }
}

.works {
  position: relative;
  z-index: 10;

  &__block {
    display: flex;
    justify-content: space-between;
    grid-gap: 12px;
    margin-bottom: 205px;

    @include desktop {
      margin-bottom: 220px;
    }

    @include tablet {
      display: none;
    }

    &:nth-child(2) {
      padding-top: 46px;
      padding-right: 10px;
      margin-bottom: 52px;

      @include tablet-large {
        padding-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 155px;
    }
  }

  &__left {
    position: relative;
    width: 100%;
  }

  &__right {
    position: relative;
    width: 55%;

    @include tablet-large {
      width: 50%;
    }
  }
}

.mainTitle {
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  color: #fff;
  text-shadow: 2px 2px 4px 0 rgb(29 29 29 / 25%);
  margin-bottom: 64px;

  & span {
    color: #b78af7;
  }

  @include desktop {
    font-size: 30px;
    margin-bottom: 57px;
  }
}

.titleMobile {
  display: none;

  @include tablet {
    display: block;
    margin-bottom: 36px;
  }
}

.left1 {
  min-width: 553px;
  width: 45%;

  @include tablet-large {
    width: 50%;
    min-width: 0;
    margin-right: 25px;
  }

  &::after {
    content: '';
    display: block;
    height: 195px;
    width: 387px;
    background-image: url('../../assets/arrow3.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    position: absolute;
    bottom: -50px;
    left: 150px;

    @include desktop {
      max-width: 267px;
      bottom: 0;
    }
  }
}

.right2 {
  width: 30.1136%;

  &::after {
    content: '';
    display: block;
    height: 161px;
    width: 149px;
    background-image: url('../../assets/arrow2.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: -125px;
    left: 0;

    @include desktop {
      bottom: -90px;
      left: 0;
      background-size: 100%;
      width: 110px;
    }
  }
}

.left2 {
  width: 69.8864%;
}

.block3 {
  height: auto;
}

.right3 {
  width: 82%;

  @include desktop {
    width: 90%;
  }

  @include tablet-large {
    width: 75%;
  }
}

.left3 {
  width: 18%;

  @include desktop {
    width: 10%;
  }

  @include tablet-large {
    width: 25%;
  }
}

.m1 {
  margin-bottom: 204px;
  position: relative;
}

.m2 {
  position: absolute;
  top: 100px;
  right: 175px;
  z-index: 10;

  @include desktop {
    top: 0;
    right: 105px;
  }

  @media screen and (width <= 1700px) {
    right: 0;
  }
}

.m3 {
  position: absolute;
  top: -110px;
  left: 170px;
  z-index: 10;

  @media screen and (width <= 1730px) {
    top: -130px;
    left: 0;
  }

  @include desktop {
    top: -111px;
  }

  @include tablet-large {
    top: -130px;
  }

  @include tablet {
    top: 0;
  }
}

.card {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6853ac;
    border-radius: 8px;
    position: relative;
    z-index: 3;
    padding: 12px;
    box-sizing: border-box;
    height: 380px;
    transition: all 0.2s ease;
  }

  &Active {
    height: 432px;
    padding: 16px;
  }

  &__wrapper {
    background-color: transparent;
    border-radius: 16px;
    padding: 24px;
    width: 553px;
    transition: all 0.2s ease;

    @include desktop {
      max-width: 438px;
    }

    @include tablet {
      padding: 0;
      max-width: 277px;
      margin-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      background-image: url('../../assets/border.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

      @include tablet {
        display: none;
      }
    }

    &::after {
      content: '';
      display: block;
      background-color: #1d1d1d;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      position: absolute;
      bottom: -14px;
      left: -15px;
      z-index: 2;

      @include desktop {
        bottom: -8px;
      }

      @include tablet {
        max-width: 277px;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    color: #fff;
    position: relative;
    z-index: 20;

    @include desktop {
      font-size: 24px;
    }

    @include tablet {
      font-weight: 700;
      font-size: 20px;
      white-space: nowrap;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      grid-gap: 24px;
      margin-bottom: 16px;

      @include tablet {
        grid-gap: 8px;
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    position: relative;
    z-index: 20;

    @include desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      margin-top: 14px;
    }
  }
}

.cricle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  height: 77px;
  width: 84px;
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 14px 28px 9px 34px;

  @include desktop {
    font-size: 24px;
    height: 55px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include tablet {
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 0;
  }

  &::after {
    content: '';
    display: block;
    height: 77px;
    width: 84px;
    background-image: url('../../assets/cricle.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include desktop {
      height: 55px;
      width: 60px;
    }

    @include tablet {
      height: 40px;
      width: 40px;
      background-image: url('../../assets/cricleTablet.svg');
    }
  }
}

.mascot {
  max-width: 213px;
  height: 196px;
  position: relative;
  z-index: 12;

  &Active {
    height: 240px;
    min-width: 200px;
    max-width: 100%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img1 {
  transform: rotateZ(6deg);
  max-width: 1017px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (width <= 1855px) {
    top: 20px;
    left: -20px;
  }

  @include desktop {
    top: 0;
    left: -20px;
    min-height: 275px;
  }

  @include tablet-large {
    top: 40px;
  }
}

.img2 {
  width: 100%;
  height: auto;
}

.img4 {
  width: 100%;
}
