@use '../../styles/scss/mediaBreakpoints.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 0;
  }

  &__bg {
    top: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: transparent;

    @include tablet {
      padding: 11.5px 0;
    }
  }

  &__logo img {
    width: 214px;
    height: auto;

    @include tablet-large {
      width: 161px;
      height: 36px;
    }

    @include tablet {
      width: 142px;
      height: 33px;
    }
  }

  &__nav {
    display: flex;
    gap: 24px;

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      @include tablet {
        display: none;
      }

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-right: 24px;
        transition: all 0.3s linear;
        line-height: 136%;

        &:hover {
          color: #b78af7;
          transform: scale(1.1);
        }

        &:active {
          color: #8133f1;
        }

        @include desktop {
          font-size: 18px;
        }
      }
    }
  }

  &__social_login {
    display: flex;
    gap: 24px;
  }

  &__socialIcons {
    display: flex;
    gap: 15px;

    & > a {
      margin-left: 8px;

      img {
        width: 54px;
        height: 54px;
        transition: all 0.3s linear;

        &:hover {
          background-color: #ceb0fa29;
          border-radius: 4px;
          transform: scale(1.1);
        }
      }
    }

    @include tablet {
      &__dn {
        display: none;
      }
    }

    & > a:first-child {
      margin-left: 0;
    }
  }

  .login {
    width: 13.18rem;
    display: flex;
    align-items: center;
    border: 2px solid #fca728;
    border-radius: 1000px;
    font-size: 18px !important;
    line-height: 150% !important;
    padding: 12px 0 !important;
  }
}
