.landingForm .MuiFormControl-root {
  font-family: 'Open Sans', sans-serif !important;
}

.landingForm .MuiFormControl-root .MuiFormLabel-root,
.landingForm .MuiFormControl-root .MuiInputBase-root {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
}

.landingForm .MuiFormControl-root .MuiFormLabel-root .MuiInputBase-input,
.landingForm .MuiFormControl-root .MuiInputBase-root .MuiInputBase-input {
  font-weight: 600 !important;
}

.landingForm .MuiFormControl-root .MuiFormHelperText-root,
.landingForm .MuiFormControl-root .MuiFormControlLabel-root .MuiTypography-root {
  font-family: 'Open Sans', sans-serif !important;
}

.landingForm .MuiBox-root .MuiButtonBase-root {
  font-family: 'Open Sans', sans-serif !important;
}

.homePage {
  background-color: #161616 !important;
}
